@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

#container {
  background-color: rgb(249, 251, 253);
}

body {
  position: relative;
}

#container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem auto;
  border: 1px solid #bababa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  z-index: -1;
}

.ql-snow.ql-toolbar {
  border: none !important;
  display: flex;
  justify-content: center;
  background-color: #edf2fa;
  margin: 0 1rem;
  border-radius: 2rem;
  position: sticky !important;
  top: 0;
  z-index: 4;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media print {
  .ql-snow.ql-toolbar,
  .navbar-g {
    display: none;
  }

  @page {
    margin: 0;
    size: 8.27in 11.69in;
  }

  body {
    margin: 0;
  }

  header,
  footer,
  .date {
    display: none;
  }

  #container .ql-editor {
    border: none;
    margin: 0;
  }
}

ul,
ol {
  list-style-type: none;
}
